/*
  simple.css - Minimal CSS for older browsers such as Netscape Navigator 4.xx
*/

BODY
{
  color: #000000;
  background: #FFFFFF;
  font-family: verdana, arial;
  font-style: normal;
  font-size: 12px;
}

.hdra
{
  font-family: verdana, arial;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}

.hdrc
{
  font-family: verdana, arial;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.hdrd
{
  font-family: verdana, arial;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.hdrf
{
  font-family: verdana, arial;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.hdrg
{
  font-family: verdana, arial;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.tblc
{
  font-family: verdana, arial;
  font-size: 12px;
  font-weight: bold;
  color: #001656;
}

.tbla
{
  font-family: verdana, arial;
  font-size: 12px;
  background: #FAFAFA;
  color: #000000;
}

.tblb
{
  font-family: verdana, arial;
  font-size: 12px;
  vertical-align: middle;
  background: #FFFFFF;
  color: #000000;
}

.tblp
{
  font-family: verdana, arial;
  font-size: 6px;
  background: #FAFAFA;
  color: #000000;
}

.tblq
{
  font-family: verdana, arial;
  font-size: 6px;
  background: #FFFFFF;
  color: #000000;
}

.cntr
{
  vertical-align: middle;
}

.tblm
{

}